@font-face {
  font-family: "MontBlanc-Trial-SemiBold";
  src: url("fonts/MontBlanc-Trial-SemiBold.otf") format("opentype");
}

.box {
  width: 1150px;
  margin: 0 auto;
  margin-top: 80px;
}

.line {
  width: 1150px;
  height: 3px;
  background: rgba(210, 210, 210, 0.292);
}
.line-shadow {
  width: 900px;
  height: 3px;
  background: rgba(228, 228, 228, 0.178);
  margin: 0 auto;
  margin-bottom: 50px;
}
.title {
  font-family: "MontBlanc-Trial-SemiBold";
  font-size: 30pt;
  color: rgb(65, 60, 60);
  margin-bottom: 50px;
}
iframe {
  margin-bottom: 50px;
}

.contact {
  width: 80%;
  margin: 0 auto;
  font-size: 15pt;
  font-weight: bold;
  font-family: "MontBlanc-Trial-SemiBold";
  color: rgb(65, 60, 60);
}

.contact > ul > li {
  padding-bottom: 15px;
}

.contact > ul > li > a {
  font-size: 18px;
  padding-left: 50px;
  font-family: none;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  #menu,
  .tab1 ul,
  .tab2 ul {
    flex-direction: column;
  }

  #menu li,
  .tab1 li,
  .tab2 li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
